<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our system!</h1>
    <p>
      To sign in to the site, please follow this link: <%= "#{sign_up_url}?link=#{@invitation.link}" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>